body {
    background-image: url('https://i.imgur.com/quQ4oRM.png'); /* Đặt đường dẫn hình ảnh nền */
    background-size: cover; /* Đảm bảo hình ảnh phủ kín toàn bộ màn hình */
    background-position: center center; /* Đặt hình ảnh ở giữa màn hình */
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}